<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Доска объявлений</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Главная</a></li>

            {% if request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'add_page' %}">Разместить объявление</a></li>
            {% endif %}

            {% if request.user.is_authenticated and user.is_superuser %}
            <li class="nav-item"><a class="nav-link" href="{% url 'send_news' %}">Новостная рассылка</a></li>
            {% endif %}

        </ul>

        <span class="navbar-text">

            {% if request.user.is_authenticated %}
            Welcome, <a href="{% url 'users:profile' %}">{{ user.username }}</a> | <a href="{% url 'users:logout' %}">Выход</a>
            {% else %}
            <a href="{% url 'users:register' %}">Register</a> | <a href="{% url 'users:login' %}">Login</a>
            {% endif %}

        </span>
    </div>
</nav>